<section role="main" class="main-section">
  <div class="shopping-list-container">
    <ul class="shopping-list">
      <li>
        <h1>Winn Dixie List</h1>
      </li>
      <li>Eggs</li>
      <li>Cheese</li>
      <li>Pepperoni</li>
      <li>Peanut Butter</li>
      <li>Deli Meat</li>
      <li>Shredded Parm</li>
      <li>Olive Oil</li>
    </ul>
    <ul class="shopping-list">
      <li>
        <h1>Publix List</h1>
      </li>
      <li>Deli Meat</li>
      <li>Shredded Parm</li>
      <li>Olive Oil</li>
      <li>Poop</li>
      <li>Eggs</li>
      <li>Cheese</li>
      <li>Pepperoni</li>
      <li>Peanut Butter</li>
      <li>Deli Meat</li>
      <li>Shredded Parm</li>
      <li>Olive Oil</li>
    </ul>
  </div>
</section>