<section role="main" class="main-section">
  <div class="shopping-list-container">
    <ul class="shopping-list">
      <li>
        <h1>Winn Dixie List</h1>
      </li>
      <li><input type="checkbox">Eggs</input>Eggs</li>
      <li><i class="fa fa-square-o"></i>Cheese</li>
      <li><i class="fa fa-square-o"></i>Pepperoni</li>
      <li><i class="fa fa-square-o"></i>Peanut Butter</li>
      <li><i class="fa fa-square-o"></i>Deli Meat</li>
      <li><i class="fa fa-square-o"></i>Shredded Parm</li>
      <li><i class="fa fa-square-o"></i>Olive Oil</li>
    </ul>
    <ul class="shopping-list">
      <li>
        <h1>Publix List</h1>
      </li>
      <li><i class="fa fa-square-o"></i>Deli Meat</li>
      <li><i class="fa fa-square-o"></i>Shredded Parm</li>
      <li><i class="fa fa-square-o"></i>Olive Oil</li>
      <li><i class="fa fa-square-o"></i>Poop</li>
      <li><i class="fa fa-square-o"></i>Eggs</li>
      <li><i class="fa fa-square-o"></i>Cheese</li>
      <li><i class="fa fa-square-o"></i>Pepperoni</li>
      <li><i class="fa fa-square-o"></i>Peanut Butter</li>
      <li><i class="fa fa-square-o"></i>Deli Meat</li>
      <li><i class="fa fa-square-o"></i>Shredded Parm</li>
      <li><i class="fa fa-square-o"></i>Olive Oil</li>
    </ul>
  </div>
</section>