// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#ribbon-container {
  position: absolute;
  top: 50px;
  right: -15px;
  overflow: visible;
  /* so we can see the pseudo-elements we're going to add to the anchor */

  font-size: 1.5em;
  /* font-size and line-height must be equal so we can account for the height of the banner */
}

#ribbon-container:before {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  border-top: 29px solid rgba(0, 0, 0, .3);
  /* These 4 border properties create the first part of our drop-shadow */

  border-bottom: 29px solid rgba(0, 0, 0, .3);
  border-right: 29px solid rgba(0, 0, 0, .3);
  border-left: 29px solid transparent;
}

#ribbon-container:after {
  /* This adds the second part of our dropshadow */

  content: "";
  height: 3px;
  background: rgba(0, 0, 0, .3);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 58px;
  right: 3px;
}

#ribbon-container span {
  display: block;
  padding: 17px 30px 17px 17px;
  position: relative;
  background-color: $light-green;
  overflow: visible;
  margin-left: 29px;
  color: #fff;
  text-shadow: 1px 1px 1px $gray;
  text-decoration: none;
}

#ribbon-container span:after {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  bottom: -15px;
  right: 0;
  border-top: 15px solid #004a70;
  border-right: 15px solid transparent;
}

#ribbon-container span:before {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 0;
  left: -29px;
  border-top: 29px solid $light-green;
  border-bottom: 29px solid $light-green;
  border-right: 29px solid transparent;
  border-left: 29px solid transparent;
}

.shopping-list-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.shopping-list {
  background-color: rgba(255, 230, 128, 0.95);
  background-image: url(http://www.transparenttextures.com/patterns/light-paper-fibers.png);
  margin: 30px auto;
  color: $gray;
  padding: 50px 20px;
  font-family: $sans-serif;
  box-shadow: 5px 5px 10px $gray;
  min-width: 400px;

  @media #{$mobile-width-mq} {
    min-width: 320px;
    width: 90%;
    margin: 25px;
  }

  th {
    font-size: 2em;
    text-align: center;
    padding: 30px 0 20px 0;
  }

  tr {
    list-style: none;
    border-bottom: 1px dotted #ccc;

    td {
      vertical-align: middle;
      padding: 0 20px;

      @media #{$mid-width-mq} {
        padding: 0 10px;
      }
    }
  }
}

.item-checkbox-td {
  width: 5px;
}

.text {
  @extend %visuallyhidden;
}

.item-price {
  text-align: right;
  width: 20px;
}

.item-remove {
  text-align: right;
}

.remove-button-label {
  color: $red;
  font-size: 2em;

  &:focus,
  &:hover {
    cursor: pointer;
  }
}

.item-remove-button,
.item-checkbox {
  @extend %visuallyhidden;
}

.item-name-price-container {
  &.added-to-cart {
    .item-checkbox-icon {
      &:before {
        content: '\f046';
        color: #777;
      }
    }
    td {
      text-decoration: line-through;
      font-style: italic;
      color: #777;
    }
  }
}

.shopping-list .total-cell,
.shopping-list .total-savings-cell {
  padding: 30px 20px 10px 0;
  text-align: right;
}

.shopping-list .total-savings-cell {
  font-weight: bold;
  color: $green;
  text-decoration: underline;
}
