<section class="about-section">
  <h1 class="about-heading">About Shopper</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent blandit facilisis diam eu blandit. Nam ut orci eget lorem hendrerit mollis. Vivamus dictum tellus sed dui varius, vitae placerat augue viverra. In condimentum cursus libero nec rutrum. Aenean quis eros ex. Ut eget egestas magna, quis facilisis nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
  <p>Suspendisse suscipit libero non purus vehicula tincidunt. Donec vulputate, libero vel tincidunt bibendum, lectus diam viverra tellus, tincidunt malesuada augue metus eu dui. Etiam convallis venenatis diam, et aliquam leo vestibulum sed. Duis scelerisque velit et maximus aliquam. Aenean fringilla rhoncus eros id finibus. Proin efficitur, leo non commodo cursus, nunc nisi euismod odio, sit amet vulputate mi orci eget nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed mollis tempor urna at pretium.</p>
  <p>Thanks for using Shopper!</p>
</section>
