$light-green: rgba(51, 198, 51, 1);
$green: rgba(46, 178, 46, 1);
$link-blue: #0099FF;
$font-color-white: rgba(255, 255, 255, 0.8);
$light-gray: rgba(255, 255, 255, 0.5);
$gray: #555;
$red: #E60000;
$sans-serif: 'Source Sans Pro', sans-serif;
$serif: 'Alegreya', serif;

$mid-width-mq: '(max-width: 900px)';
$mobile-width-mq: '(max-width: 640px)';