/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/***** RESET *****/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**** END RESET ****/

/**** VARIABLES ****/

$light-green: rgba(51, 198, 51, 1);
$green: rgba(46, 178, 46, 1);
$link-blue: #0099FF;
$font-color-white: rgba(255, 255, 255, 0.8);
$light-gray: rgba(255, 255, 255, 0.5);
$gray: #555;

/**** END VARIABLES ****/

body {
  background-size: cover;
  background-position: center top;
  font-family: 'Droid Serif', serif;
  background-image: image-url('shopping-cart.jpg');
  background-repeat: no-repeat;
  color: $font-color-white;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 1000px;
}

header {
  padding: 50px 0;
}

.header-container {
  display: table;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid $light-gray;
}

#notice {
  background: linear-gradient($green, $light-green);
  color: $font-color-white;
  padding: 10px 20px;
}

/**** LOGO *****/

.logo-container {
  display: table-cell;
}

.logo {
  text-decoration: none;
  color: $font-color-white;
  font-size: 3em;
  text-shadow: 2px 2px 5px $gray;
  margin-left: 30px;
}


/***** NAV *****/

nav {
  display: table-cell;
}

.nav {
  text-align: right;

  li {
    display: inline-block;
    margin: 0 25px;

    a {
      font-size: 1.15em;
      text-decoration: none;
      transition: all 0.3s linear;
      padding-bottom: 30px;
      color: $font-color-white;

      &:hover {
        color: $light-gray;
        background-color: transparent;
        border-bottom: 3px solid $light-gray;
      }
    }
  }
}

.nav .sign-in-button,
.nav .lists-button {
  padding: 10px 15px;
  background: linear-gradient($green, $light-green);
  border-radius: 3px;
  transition: 0.2s ease-out;

  &:hover {
    border-bottom: none;
    color: $gray;
  }

  &:active {
    transform: translateY(2px)
  }
}


/***** HOMEPAGE WITHOUT SIGN-IN *****/

.tagline {
  color: #fff;
  text-align: center;
  font-size: 5em;
  margin-top: 250px;
  text-shadow: 2px 2px 10px #333;

  span {
    font-style: italic;
  }
}


/****** LISTS INDEX PAGE/HOMEPAGE WITH SIGN-IN ******/

.shopping-list-container {
  display: flex;
}

.shopping-list {
  background-color: rgba(255, 230, 128, 0.95);
  background-image: url(http://www.transparenttextures.com/patterns/light-paper-fibers.png);
  margin: 30px auto;
  color: $gray;
  padding: 50px 20px;
  font-family: 'Delius', monospace;
  box-shadow: 5px 5px 10px $gray;
  min-width: 400px;

  li:first-of-type {
    font-size: 2em;
    text-align: center;
  }

  li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
  }

  li:last-of-type {
    text-align: right;

    a {
      text-decoration: none;
      color: $link-blue;
      transition: 0.2s ease;

      &:hover {
        color: $gray;
      }
    }
  }
}


/****** ABOUT PAGE *****/

.about-section {
  margin: 0 auto;
  max-width: 960px;
  text-shadow: 1px 1px 1px #000;
  color: #fff;

  p {
    line-height: 2;
    font-size: 1.25em;
    margin-bottom: 35px;
  }
}

.about-heading {
  text-align: center;
  font-size: 3em;
  margin-bottom: 50px;
}